<h3>Hello from BoatsWorld.</h3>

<p>
    You have received this email because you have forgotten
    your BoatsWorld profile password.
    If you believe you have received this email in error,
    please contact us at <a href="{{ app.request.httpHost~path('app.home.contact') }}">{{ app.request.httpHost~path('app.home.contact') }}</a>
</p>
<p>
    To reset your password, click the button below and follow the instructions.
</p>

<p>
    This button will expire in 48 hours.
    If it no longer works, please use the Forgot Password
    feature to send this email again.
</p>

<p>
    Thank you for visiting BoatsWorld.com!
</p>

<p>
    Sincerely,
    <b>The BoatsWorld project team</b>
</p>


<a style="display: inline-block; width: 200px; background-color: #3869D4; border-radius: 3px;color: #ffffff;font-size: 15px;line-height: 45px;text-align: center;text-decoration: none;-webkit-text-size-adjust: none;mso-hide: all;background-color: #22BC66;"
   href="{{ app.request.httpHost~path('app.security.resetPassword', { accessToken: token.accessToken }) }}"
>
    Reset your password
</a>

<p style="font-size: 12px;">
    If you’re having trouble clicking the password reset button, copy and paste the URL below into your web browser.
</p>
<p style="font-size: 12px;">
    <a href="{{ app.request.httpHost~path('app.security.resetPassword', {'accessToken': token.accessToken}) }}">
        {{ app.request.httpHost~path('app.security.resetPassword', {'accessToken': token.accessToken}) }}
    </a>
</p>