{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        textarea {
            resize: vertical;
        }
    </style>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title, { 'attr': { 'class': 'form-control'}}) }}
    {{ form_row(form.description, { 'attr': { 'class': 'form-control'}}) }}
    {{ form_row(form.sku, { 'attr': { 'class': 'form-control'}}) }}
    {{ form_row(form.category, { 'attr': { 'class': 'form-control'}}) }}

    {{ form_row(form.linkedProduct1, { 'attr': { 'class': 'form-control'}}) }}
    {{ form_row(form.linkedProduct2, { 'attr': { 'class': 'form-control'}}) }}
    {{ form_row(form.linkedProduct3, { 'attr': { 'class': 'form-control'}}) }}

    {{ form_row(form.imageUrl) }}
    <br>
    <button type="submit" class="btn btn-success">Create</button>
    {{ form_end(form) }}

{% endblock %}