{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        img {
            max-height: 60px;
        }
        a.asc {
            background: url({{ asset('img/asc_sort.png') }});
        }

    </style>
{% endblock %}

{% block body %}

    <h2 class="sub-header">
        Catalog ({{ pagination.getTotalItemCount }} products)
        <a href="{{ path('app.products.create') }}" class="btn btn-success pull-right">New product</a>
    </h2>

    {{ knp_pagination_filter(pagination, { 'c.title': 'Category', 'p.title': 'Title', 'p.sku': 'SKU' }) }}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>img</th>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'p.title')|raw }}</th>
                <th>Description</th>
                <th>SKU</th>
                <th>Category</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for product in pagination %}
                <tr>
                    <td>
                        {% if not product.imageUrl %}
                            <img src="{{ asset('img/no-image.jpg') }}">
                        {% else %}
                            <img src="{{ asset('uploads/img/')~product.imageUrl }}">
                        {% endif %}
                    </td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description[:100] }}</td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.getCategory.getTitle }}</td>
                    <td>
                        <a href="{{ path('app.products.edit', { 'id': product.id }) }}" class="btn btn-xs btn-primary">Edit</a>
                        <a href="{{ path('app.products.delete', { 'id': product.id }) }}" class="btn btn-xs btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/restyle-knp-filter.js') }}"></script>
{% endblock %}