<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ asset('img/favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />

        <title>{% block title %}Welcome to Boats World!{% endblock %}</title>

        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.js') }}"></script>
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

        <!-- My CSS -->
        {% block stylesheets %}
            <style type="text/css">
                body {
                    background:  url("{{ asset('img/bkg.jpg') }}") center no-repeat fixed;
                    padding-top: 70px;
                    padding-bottom: 30px;
                }
            </style>
        {% endblock %}

    </head>
    <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app.home.index') }}">BoatsWorld</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block navbar %}
                        <li {% if app.request.attributes.get('_route') == 'app.home.index' %} class="active" {% endif %}>
                            <a href="{{ path('app.home.index') }}">Home</a>
                        </li>

                        {% if is_granted('ROLE_USER') %}
                        <li {% if app.request.attributes.get('_route') == 'app.catalog.catalog' %} class="active" {% endif %}>
                            <a href="{{ path('app.catalog.catalog') }}">Catalog</a>
                        </li>
                        {% endif %}

                        <li {% if app.request.attributes.get('_route') == 'app.home.about' %} class="active" {% endif %}>
                            <a href="{{ path('app.home.about') }}">About</a>
                        </li>

                        <li {% if app.request.attributes.get('_route') == 'app.home.contact' %} class="active" {% endif %}>
                            <a href="{{ path('app.home.contact') }}">Contact</a>
                        </li>
                    {% endblock %}
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('app.admin.admin') }}">Admin panel</a></li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path('logout') }}">Log out</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if not is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app.security.login') }}">Sign in</a></li>
                        <li><a href="{{ path('app.registration.register') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        {% for flashMsg in app.session.flashBag.get('notice') %}
            <div class="alert alert-success">{{ flashMsg }}</div>
        {% endfor %}
        {% for flashMsg in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">{{ flashMsg }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}

    </body>
</html>
