{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        a:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.email, { 'attr': { 'class': 'form-control' }}) }}
    {{ form_row(form.role, { 'attr': { 'class': 'form-control'}}) }}
    {{ form_row(form.isActive, { 'attr': { 'class': 'form-control' }}) }}
    <br>
    <button type="submit" class="btn btn-default">Save</button>
    {{ form_end(form) }}

{% endblock %}