{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        a:hover {
            cursor: pointer;
        }
        #ajax-loading {
            display:none
        }
        select.form-control {
            max-width: 40%;
        }
        input.form-control {
            max-width: 40%;
        }
    </style>
{% endblock %}

{% block body %}

    <h2 class="sub-header">
        Users
        <img id="ajax-loading" src="{{ asset('img/ajax-loading.gif') }}">
    </h2>

    <div class="table-responsive" id="users-grid">

    </div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.fineGrid.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            var options = {
                datatype: 'json',
                url: "{{ path('app.users.getUsersAjax') }}",
                data:
                {
                    pageNumber: 1,
                    itemsPerPage: 10,
                    fields:
                    {
                        id: {
                            label: 'ID',
                            sort: {
                                sortable: true,
                                criteria: 'u.id',
                                direction: 'asc'
                            },
                        },
                        email: {
                            label: 'E-mail',
                            sort: {
                                sortable: false
                            }
                        },
                        username: {
                            label: 'User name',
                            sort: {
                                sortable: true,
                                criteria: 'u.username',
                                direction: 'asc'
                            }
                        },
                        is_active: {
                            label: 'Is Active?',
                            sort: {
                                sortable: false
                            }
                        },
                        role: {
                            label: 'Role',
                            sort: {
                                sortable: false
                            }
                        },
                    },
                    actions:
                    {
                        edit: { label: 'Edit', link: '{{ path('app.users.edit') }}' },
                        delete: { label: 'Delete', link: '{{ path('app.users.delete') }}' }
                    },
                    filter: [
                        { filterField: 'r.title', filterFieldText: 'Role' },
                        { filterField: 'u.email', filterFieldText: 'Email' },
                        { filterField: 'u.username', filterFieldText: 'Username' },
                    ],
                },
            };
            $('#users-grid').fineGrid(options);
        });
    </script>
{% endblock %}