{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    </style>
{% endblock %}

{% block body %}
{{ parent() }}

    <h1 class="page-header">Admin panel</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://content.foto.mail.ru/community/decoupage/23443/i-23475.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Just</h4>
            <span class="text-muted">Something</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQmD27-PpSwJ1b4Mo1h9hSKAP-Fu_q7m5M-H9zLmQ15SWN97ohW" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Nice</h4>
            <span class="text-muted">Something</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://content.foto.mail.ru/community/decoupage/23443/i-23468.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Pictures</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://prodecoupage.com/_ld/0/s52456649.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Here</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>

    {% for flashMsg in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">{{ flashMsg }}</div>
    {% endfor %}
    {% for flashMsg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">{{ flashMsg }}</div>
    {% endfor %}
    <h2 class="sub-header">
        Feedback
        ({{ messages.getTotalItemCount }} messages)
    </h2>

    {{ knp_pagination_filter(messages, {
        'm.email': 'Email',
        'm.firstname':'Firstname',
        'm.lastname':'Lastname',
        'm.phone':'Phone'
    }) }}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Message</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.firstname }}</td>
                    <td>{{ message.lastname }}</td>
                    <td>
                        {% if message.message|length > 20 %}
                            {{ message.message[:20]~' (...)' }}
                        {% else %}
                            {{ message.message }}
                        {% endif %}
                    </td>
                    <td>{{ message.phone }}</td>
                    <td>{{ message.email }}</td>

                    <td>
                        <a href="{{ path('app.admin.detailedMessage', { 'id': message.id }) }}" class="btn btn-primary btn-xs">
                            Open
                        </a>
                        <a href="{{ path('app.admin.deleteMessage', { 'id': message.id }) }}" class="btn btn-danger btn-xs">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(messages) }}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/restyle-knp-filter.js') }}"></script>
{% endblock %}