{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .btn {
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel panel-default">
        <div class="panel-heading">From: {{ message.firstname }} {{ message.lastname }}</div>
        <div class="panel-body">
            <p>{{ message.message }}</p>
        </div>

        <ul class="list-group">
            {% if message.phone %}
                <li class="list-group-item">Phone: {{ message.phone }}</li>
            {% endif %}
            <li class="list-group-item">Email: {{ message.email }}</li>
        </ul>
        <a href="{{ path('app.admin.deleteMessage', { 'id': message.id }) }}" class="btn btn-danger pull-right">
            Delete message
        </a>
    </div>
{% endblock %}