<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset("img/favicon.ico") }}">

    <title>BoatsWorld AdminPanel</title>

    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.js') }}"></script>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">

    <!-- My CSS -->
    {% block stylesheets %}
        <style type="text/css">

        </style>
    {% endblock %}
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app.home.index') }}">BoatsWorld</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app.admin.admin') }}">Admin panel</a></li>
                                <li><a href="{{ path('app.products.products') }}">Edit catalog</a></li>
                                <li><a href="{{ path('app.categories.categories') }}">Edit categories</a></li>
                            {% endif %}

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li {% if app.request.attributes.get('_route') == 'app.users.users' %} class="active" {% endif %}>
                                    <a href="{{ path('app.users.users') }}">Edit Users</a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}">Log out</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app.security.login') }}">Sign in</a></li>
                    <li><a href="{{ path('app.registration.register') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li {% if app.request.attributes.get('_route') == 'app.admin.admin' %} class="active" {% endif %}>
                    <a href="{{ path('app.admin.admin') }}">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.products.products' %} class="active" {% endif %}>
                    <a href="{{ path('app.products.products') }}">Catalog</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.categories.categories' %} class="active" {% endif %}>
                    <a href="{{ path('app.categories.categories') }}">Categories</a>
                </li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li {% if app.request.attributes.get('_route') == 'app.users.users' %} class="active" {% endif %}>
                        <a href="{{ path('app.users.users') }}">Users</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% for flashMsg in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">{{ flashMsg }}</div>
            {% endfor %}
            {% for flashMsg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">{{ flashMsg }}</div>
            {% endfor %}

            {% block body %}{% endblock %}

        </div>
    </div>
</div>

{% block scripts %} {% endblock %}
</body>
</html>