{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/catalog-styles.css') }}" rel="stylesheet">
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}

{% block body %}
        <h1 align="center">Catalog</h1>
        <div class="row">

            <div class="col-md-3">
                <div class="block-categories-tree table-responsive">
                    <nav style="padding-left: 20px;" id="start-categories-tree">
                    </nav>
                </div>
            </div>

            <div class="col-md-9">
                {% for product in pagination %}
                    <div class="block-product row">
                        <div class="col-md-3">
                            <a href="{{ path('app.catalog.catalogDetails', { 'id': product.id }) }}">
                                {% if not product.imageUrl %}
                                    <img src="{{ asset('img/no-image.jpg') }}" class="img-responsive">
                                {% else %}
                                    <img src="{{ asset('uploads/img/')~product.imageUrl }}" class="img-responsive">
                                {% endif %}
                            </a>
                        </div>
                        <div class=" col-md-9">
                            <h4><b>{{ product.title }}</b></h4>
                            <p>{{ product.description[:300] }}</p>

                            <a href="{{ path('app.catalog.catalogDetails', { 'id': product.id }) }}"
                               class="btn btn-primary pull-right">
                                Details
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div align="center" class="navigation" style="margin-left: 1%">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        function getSelectedCategoryId() {
            var get = location.search;
            var match = get.match(/filterField=c.id&filterValue=(\d+)/i);
            if (match == null) {
                return 0;
            }
            return match[1];
        }

        function buildTree( categories, selectedId ) {
            if ( categories.length == 0 ) { return null; }
            if ( categories[0].level == 0) {
                var ul = $( '<ul/>', { class: 'nav', style: 'margin: 20px 0;'} );
            } else {
                var ul = $( '<ul/>', {
                    class: 'nav',
                    style: 'margin-left: 15px'
                } );
            }

            $.each(categories, function ( index, category ) {
                var li = $( '<li/>' ).appendTo( ul );

                if (category.childs.length > 0) {
                    var span = $( '<span/>', {
                        class: 'glyphicon glyphicon-menu-right',
                        style: 'margin-right: -15px;',
                        click: function showChilds() {
                            var li = event.target.parentNode;
                            var childrenContainer = li.getElementsByTagName('ul')[0];
                            if (!childrenContainer) return;

                            if ( childrenContainer.hidden ) {
                                $( this ).removeClass('glyphicon-menu-right');
                                $( this ).addClass('glyphicon-menu-down');
                            } else {
                                $( this ).removeClass('glyphicon-menu-down');
                                $( this ).addClass('glyphicon-menu-right');
                            }
                            childrenContainer.hidden = !childrenContainer.hidden;
                        }
                    }).appendTo( li );
                }

                var a = $( '<a/>', {
                    text: category.title,
                    id: category.id,
                    level: category.level,
                    class: 'category-link',
                    href: ( '{{ path('app.catalog.catalog') }}?filterField=c.id&filterValue=' + category.id ),
                } ).appendTo( li );
                if ( selectedId == category.id ) {
                    a.addClass( 'active' );
                    ul[0].haveExpanded = true;
                }
                var subUl = buildTree( category.childs, selectedId );
                if ( subUl && subUl[0].haveExpanded == true ) {
                    ul[0].haveExpanded = true;

                    subUl[0].hidden = false;
                    $( subUl[0].getElementsByTagName( 'span' )[0] ).removeClass('glyphicon-menu-right');
                    $( subUl[0].getElementsByTagName( 'span' )[0] ).addClass('glyphicon-menu-down');
                    ul[0].hidden = false;
                    $( ul[0].getElementsByTagName( 'span' )[0] ).removeClass('glyphicon-menu-right');
                    $( ul[0].getElementsByTagName( 'span' )[0] ).addClass('glyphicon-menu-down');
                } else {
                    if ( category.level > 0 ) {
                        ul[0].hidden = true;

                    }
                }
                li.append( subUl );
            });

            if ( ul[0].getElementsByTagName( 'li' ).length > 0 ) {
                return ul;
            }
        }

        $( document ).ready(function () {
            var categories = $.parseJSON('{{ jsonCategories|raw  }}');

            var tree = buildTree( categories, getSelectedCategoryId() );

            $( '#start-categories-tree' ).html(tree);
        });
    </script>

{% endblock %}