{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/catalog-styles.css') }}">
    <style type="text/css">
        .jumbotron {
            background: rgba(251, 183, 150, 0.8);
            border: 1px solid #3c3c3c;
            border-radius: 3px;
        }
    </style>
{% endblock %}

{% block body %}
        <div class="col-md-12">
            <div class="block-product">
                <div align="center">
                    {% if not product.imageUrl %}
                        <img src="{{ asset('img/no-image.jpg') }}" class="img-responsive">
                    {% else %}
                        <img src="{{ asset('uploads/img/')~product.imageUrl }}" class="img-responsive">
                    {% endif %}
                </div>

                <h1>{{ product.title }}</h1>
                <p>{{ product.description }}</p>

                {% if product.linkedProduct1 or product.linkedProduct2 or product.linkedProduct3 %}
                    <br>
                    You may also like:
                    <ul>
                        {% if product.linkedProduct1 %}
                            <li>
                                <a href="{{ path('app.catalog.catalogDetails', { 'id': product.linkedProduct1.getId }) }}">
                                    {{ product.linkedProduct1.getTitle }}
                                </a>
                            </li>
                        {% endif %}
                        {% if product.linkedProduct2 %}
                            <li>
                                <a href="{{ path('app.catalog.catalogDetails', { 'id': product.linkedProduct2.getId }) }}">
                                    {{ product.linkedProduct2.getTitle }}
                                </a>
                            </li>
                        {% endif %}
                        {% if product.linkedProduct3 %}
                            <li>
                                <a href="{{ path('app.catalog.catalogDetails', { 'id': product.linkedProduct3.getId }) }}">
                                    {{ product.linkedProduct3.getTitle }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
{% endblock %}