.block-product {
    background: rgba(240, 239, 251, 0.8);
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 10px;
}
.block-categories-tree {
    background: rgba(240, 239, 251, 0.8);
    border: 1px solid #3c3c3c;
    border-radius: 3px;
}

a.category-link {
    display: inline-block !important;
    padding: 4px 20px 4px 0px !important;
    margin-left: 20px;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #767676 !important;
    border-radius: 3px;
}
a.category-link:focus,
a.category-link:hover {
    padding-right: 14px !important;
    padding-left: 5px !important;
    color: #563d7c !important;
    text-decoration: none !important;
    background-color: rgba(86, 61, 124, 0.1) !important;
    border-radius: 3px;
    /*border-right: 1px solid #563d7c*/
}
a.active.category-link:focus,
a.active.category-link:hover,
a.active.category-link {
    font-weight: 700 !important;
    color: #563d7c !important;
    padding-right: 13px !important;
    padding-left: 5px !important;
    background-color: rgba(86, 61, 124, 0.15) !important;
    border-radius: 3px;
    /*border-right: 2px solid #563d7c*/
}