{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}

{% block body %}
        <div class="col-md-5">
            <div class="well">
                <h2>This site was created for PHP courses in Itransition company.</h2>
                <p>Since 1998, <a href="http://www.itransition.com/">Itransition</a> has been delivering full cycle software development
                    services to customers in over 30 countries worldwide. Itransition is an expert
                    in development, customization and integration of complex enterprise-level solutions,
                    advanced web and mobile applications offering a well-balanced blend of technology
                    skills, domain knowledge, hands-on experience, effective methodology and passion for IT.</p>
                <a href="http://www.itransition.com/" class="btn btn-primary btn-lg">Learn more »</a>
            </div>

        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9398.786203346139!2d27.58299!3d53.919368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e67485d89cdd2e5!2sItransition!5e0!3m2!1sru!2sby!4v1472471256511"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
{% endblock %}