{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #with-form{
            padding-top: 50px;
        }
        textarea.form-control {
            resize: vertical;
            height: 200px;
        }
        .form-control {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block body %}
        <div id="with-form" class="col-lg-8 col-lg-offset-2">

            <h1>Contact Us!</h1>
            <h5>Got a question? We'll give you straight answers!</h5>

            {{ form_start(form) }}

            {% for notice in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">{{ notice }}</div>
            {% endfor %}
            {% for error in app.session.flashBag.get('errors') %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.firstname, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Your firstname'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Your lastname'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.email, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Your e-mail'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.phone, { 'label': false, 'required': false, 'attr': { 'class': 'form-control', 'placeholder': 'Your phone number (optional)'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.message, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Leave your message...' }}) }}
                    <br>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-lg btn-send" value="Send message">
                </div>
            </div>

            {{ form_end(form) }}
        </div>
{% endblock %}