{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .boat-backg {
            background-image: url("{{ asset('img/indexImg.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: 5px pink solid;
        }
    </style>
{% endblock %}

{% block body %}
        <div class="jumbotron boat-backg">
            <h1 style="color: black;">BoatsWorld</h1>
            <p style="color: white;">Your mid-Atlantic yachting & sportfishing authority.</p>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app.catalog.catalog') }}" class="btn btn-primary btn-lg">Catalog »</a>
            {% elseif not is_granted('ROLE_USER') %}
                <a href="{{ path('app.security.login') }}" class="btn btn-primary btn-lg">Sign in »</a>
            {% endif %}
        </div>

        <div id="notes">
            <div class="col-md-4">
                <div class="well">
                    <h1>Gorgeous</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam eligendi nulla ut. Ab commodi consectetur consequuntur deserunt dolor inventore molestias, obcaecati odit praesentium voluptatibus. Consequatur ex iure nam reiciendis?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h1>Affordable</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo ipsum minima molestias pariatur possimus quia. Cum delectus doloribus est eveniet, iusto officiis quasi ratione? Debitis quae saepe sint tempora!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h1>Safe</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores delectus est et id inventore nesciunt obcaecati quos soluta velit veritatis? Accusantium adipisci corporis dolorem eveniet natus nobis odio ratione tenetur!</p>
                </div>
            </div>
        </div>
{% endblock %}