{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #ajax-loading {
            display:none
        }
        .clickable:hover {
            font-weight: bold;
            cursor: pointer;
        }
        .not-clickable {
            cursor: default;
        }
        ul.list-group {
            min-height: 5px;
            margin-bottom: 0;
            margin-top: 5px;
        }
        span {
            margin-right: 10px;
        }
        .glyphicon-plus-sign {
            margin-left: 10px;
            margin-right: 0;
        }
        a.glyphicon {
            color: black;
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block body %}

    <h2 class="sub-header">
        Categories
        <img id="ajax-loading" src="{{ asset('img/ajax-loading1.gif') }}">

        <button id="btn-create-category" class="btn btn-default pull-right">Create category</button>
    </h2>

    <div id="cat-tree">

    </div>



    {#  Modal windows   #}
    <div>
        <div id="modal-create" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Please, input new category title</h4>
                    </div>
                    <div class="modal-body">
                        <input id="modal-create-input" type="text" placeholder="New category name" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <a id="modal-create-btn" href="" class="btn btn-success pull-left">Create category</a>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="modal-add" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Please, input sub-category title</h4>
                    </div>
                    <div class="modal-body">
                        <input id="modal-add-input" parentId="1" level="1" type="text" placeholder="Sub-category name" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <a id="modal-add-btn" href="" class="btn btn-success pull-left">Add sub-category</a>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-delete-confirmation" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h3 class="modal-title">Are you sure?</h3>
                    </div>
                    <div class="modal-body">
                        <p>You want to delete category with all it's sub-categories</p>
                    </div>
                    <div class="modal-footer">
                        <a id="modal-delete-btn" href="" class="btn btn-danger pull-left">Delete</a>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.manageCategoryTree.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                datatype: 'json',
                url: "{{ path('app.categories.getAjax') }}",
                data: {
                    categoryTreeParent: 0,
//                    categoryTreeChild: 1,
                    categoryTreeLevel: 0,
                },
                actions: {
                    addSub: { url: "{{ path('app.categories.addsub') }}" },
                    delete: { url: "{{ path('app.categories.delete') }}" }
                }
            };
            $( '#cat-tree' ).manageCategoryTree( options );



            $( '#btn-create-category' ).click( function () {

                var url = "{{ path('app.categories.create') }}";

                var addBtn = $( '#modal-create-btn' );

                addBtn.click( function () {
                    var input = $( '#modal-create-input' )[0];
                    if ( typeof input.value != 'undefined' ) {
                        this.href = url + '?categoryTitle=' + input.value;
                    }
                });

                $( '#modal-create' ).modal( 'show' );
            });
        });
    </script>
{% endblock %}