{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .form-signin {
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-forgot-heading,
        .form-signin .checkbox {
            margin-bottom: 5px;
        }
        label {
            margin-bottom: 15px;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            margin-bottom: -1px;
        }
        .form-signin input[id="change_password_plainPassword_second"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}

        {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
        <h2 class="form-signin-heading">Password recovery</h2>

        {{ form_row(form.plainPassword.first, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'New password' }}) }}
        {{ form_row(form.plainPassword.second, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Confirm new password' }})}}

        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        {{ form_end(form) }}

{% endblock %}