{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style type="text/css">
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .checkbox {
            font-weight: bold;
        }
        .forgot {
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-warning">
            <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form class="form-signin" action="{{ path('app.security.login') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="_password" required>
        <div class="checkbox">
            <label style="font-weight: bold">
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                Remember me
            </label>
            <a class="forgot pull-right" href="{{ path('app.security.forgot') }}">Forgot password?</a>
        </div>

        <input type="hidden" name="app.home.index" value="/account">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}