{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 30px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[id="user_plainPassword_second"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        button {
            padding-top: 20px;
        }
        .hello {
            background-color: #8c8c8c;
            border-radius: 8px;
            border: 3px sienna solid;
        }
    </style>
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <h2 class="form-signin-heading">Registration</h2>

    {{ form_row(form.username, { 'attr': { 'class': 'form-control' }}) }}
    {{ form_row(form.email, { 'attr': { 'class': 'form-control' }}) }}
    {{ form_row(form.plainPassword.first, { 'attr': { 'class': 'form-control' }}) }}
    {{ form_row(form.plainPassword.second, { 'attr': { 'class': 'form-control' }}) }}

    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    {{ form_end(form) }}
{% endblock %}